$highlight: #72cccb;

$danger: #ec3b3b;
$money: #ef7207;
$light-text: #808080;
$lighter-text: #999;

$background: #f4f8fb;
$dark-background: #2c3039;
$blur-background: hsla(0, 0%, 0%, 0.25);

$border: #e2e2e2;

$blued6: #02a6d6;
$blue:#0190cf;
$grayf7: #f8f2f7;
$gray8f: #8f8f8f;

$orange: orange;
$red: red;
$green: #9dc98d;
$yellow: #fdd728;

// 颜色定义规范
$color-theme: #58b7ff; // 正脉 主题色
$color-theme-d: #20a0ff; // 正脉蓝 辅色
$color-right: #13ce66;
$color-err: #ff4949;
$color-border: #e2e2e2;
$color-text-d: rgba(255, 255, 255, 0.3);
$color-text-l: rgba(255, 255, 255, 0.5);
$color-text-l: rgba(255, 255, 255, 0.5);
$color-gray: #D3DCE6;
$color-light-gray: #E5E9F2;

//字体定义规范
$font-size-small-s: 0.1rem;
$font-size-small: 0.12rem;
$font-size-medium: 0.14rem;
$font-size-medium-x: 0.16rem;
$font-size-large: 0.18rem;
$font-size-large-x: 0.22rem;

$disabled: #ccc;
$font-family: 'Segoe UI', 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
